/* 
DarkGreen: #299d8d
Pink: #ef2369
*/
body {
  font-family: 'Montserrat', sans-serif;
}

.bg-darkGreen {
  background-color: #126666;
}
.carousel-item {
  background-color: #299d8d;
}

.carousel-item > img {
  left: auto;
  right: 0;
}
.carousel-caption {
  text-shadow: 2px 2px #000;
  background-color: rgba(0,0,0,0.3);
  padding: 20px;
}

.value-icons h2 {
  padding: 20px 0;
}